apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  labels:
    app: myapp
spec:
  replicas: 7
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: helloworld-demo
        image: santheepak/heloworld-demo-phython:v1
        ports:
          - containerPort: 8080
