name: docker-ci-pipeline
on: push
jobs:
  sysfooci-job:
    runs-on: ubuntu-latest
    steps:
       - name: Code Checkout
         uses: actions/checkout@v6
         
       - name: Build image
         run: docker build -t santheepak/heloworld-demo-phython:v1
         
       - name: verify image
         run: docker images
         
       - name: Docker Login
         uses: docker/login-action@v3.6.0
         with:
               username: ${{ vars.DOCKER_USERNAME }}
               password: ${{ secrets.DOCKER_TOCKEN }}
               
       - name: push image
         run: docker push -t ${{ vars.DOCKER_USERNAME }}/heloworld-demo-phython:v1

    
          
